/* All */

* {
  box-sizing: border-box;
}

/* HTML */

html {
  scroll-behavior: smooth;
}

/* body */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Navbar */

header {
  height: 60px;
  box-shadow: 0 8px 16px rgba(230, 232, 247, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
}

header nav {
  background-color: #fff;
  padding: 20px 30px;
}

.utility {
  display: none;
}

.desktop-menu {
  display: none;
}

.fa-bars {
  color: #272a31;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.mobile-menu button {
  background-color: #fff;
  border: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(236, 82, 18, 0.6);
  backdrop-filter: blur(6px);
  padding-left: 28px;
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

#close {
  float: right;
  margin-right: 38px;
  margin-top: 62px;
  color: #fff;
  background: none;
  border: none;
}

.menu ul {
  margin-top: -300px;
  animation: animateTop 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  list-style: none;
  padding: 0;
}

@keyframes animateTop {
  100% {
    margin-top: 106px;
  }
}

.menu li {
  margin-bottom: 20px;
}

.menu a {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}

/* Intro Section */

.intro {
  margin-top: 60px;
  padding: 20px;
  background-image: url('../Images/music.svg');
  background-color: #eeeef0;
  height: 100vh;
  text-align: center;
}

.intro h1 {
  margin-top: 0;
  color: #ec5212;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 900;
}

.intro h3 {
  color: #ec5212;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
}

.intro h2 {
  color: #272a31;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
}

.intro hr {
  display: none;
}

.intro-desc,
.intro-desc1 {
  border: 2px solid #e6e6e6;
  padding: 15px;
  color: #272a31;
  line-height: 28px;
  background-color: #fff;
}

.intro-desc1 {
  display: none;
}

.contact-us {
  width: 75%;
  margin: 0 auto;
}

.contact-us p {
  margin-bottom: 10px;
}

.email {
  text-decoration: underline;
  font-weight: 900;
  margin-top: 0;
}

/* About Section */

.about {
  text-align: center;
  padding: 30px;
  border-bottom: 2px solid #f3f3f3;
}

.about-p,
.about-p1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 13px;
}

.about div {
  height: 150px;
  border: 2px solid #f3f3f3;
  margin-bottom: 20px;
}

.about img {
  width: 100%;
  height: 100%;
}

.about-p {
  display: none;
}

/* History Section */

.history {
  text-align: center;
  padding: 40px;
}

.history p {
  margin-bottom: 40px;
  font-size: 14px;
}

.event-cont {
  display: grid;
  grid-template-rows: 200px 200px;
  gap: 20px;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

#event1 {
  background:
    linear-gradient(
      rgba(137, 29, 10, 0.7),
      rgba(137, 29, 10, 0.7)
    ),
    /* bottom, image */
    url('../Images/event1.jpg');
  background-size: cover;
}

#event2 {
  background:
    linear-gradient(
      rgba(137, 29, 10, 0.7),
      rgba(137, 29, 10, 0.7)
    ),
    /* bottom, image */
    url('../Images/event2.jpg');
  background-size: cover;
}

.event h2 {
  margin-bottom: 10px;
}

.event p {
  margin-top: 0;
}

/* Partners section */

.center {
  text-align: center;
}

.section-hr {
  width: 50px;
  border: 0.1px solid #ec5212;
  height: 0;
  background-color: #ec5212;
  margin-bottom: 20px;
}

.partners {
  padding: 30px 20px 50px;
  background-color: #414246;
  color: #fff;
}

.partners img {
  width: 27%;
  margin-bottom: 30px;
  filter: brightness(0) invert(1) opacity(0.4) drop-shadow(0 0 0 rgb(182, 182, 182));
}

.partner-cont {
  display: flex;
  flex-wrap: wrap;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-div-2 {
  display: flex;
  justify-content: center;
}

.right {
  margin-right: 30px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
}

.footer img {
  margin-right: 30px;
  width: 40%;
}

.footer p {
  font-size: 12px;
  width: 50%;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  header {
    height: 95px;
  }

  .utility {
    display: flex;
    background-color: #3e3e3e;
    height: 25px;
    justify-content: end;
    align-items: center;
    color: #fff;
  }

  .utility ul {
    display: flex;
    list-style: none;
    padding: 0 150px;
  }

  .utility li {
    margin-left: 25px;
  }

  .mobile-menu {
    display: none;
  }

  header nav {
    padding: 10px 150px;
  }

  .desktop-menu img {
    width: 150px;
    height: 50px;
  }

  .desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desktop-menu ul {
    display: flex;
    list-style: none;
    width: fit-content;
    padding: 0;
    position: relative;
    left: 50px;
  }

  .desktop-menu li {
    margin-left: 50px;
  }

  .desktop-menu li:first-child {
    margin-left: 0;
  }

  .desktop-menu a {
    text-decoration: none;
    color: #000;
  }

  .desktop-menu a:hover {
    color: #ec5212;
    transition: 0.3s;
  }

  .campaign {
    color: #ec5212;
    border: 5px solid #ec5212;
    padding: 10px 20px;
    background-color: #fff;
    cursor: pointer;
  }

  .intro {
    margin-top: 95px;
    padding: 50px 200px 30px;
  }

  .intro h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  .intro h3 {
    display: none;
  }

  .intro-desc,
  .intro-desc1 {
    width: 100%;
    font-size: 13px;
  }

  .intro-desc {
    display: none;
  }

  .intro-desc1 {
    display: block;
    padding: 20px 50px;
    margin-bottom: 40px;
  }

  .intro hr {
    width: 50px;
    border: 0.1px solid #ec5212;
    height: 0;
    background-color: #ec5212;
    margin-bottom: 30px;
    margin-top: 20px;
    display: block;
  }

  .about br {
    display: none;
  }

  .about-p1 {
    display: none;
  }

  .about-p {
    display: block;
    width: 55%;
    line-height: 20px;
  }

  .about div {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .event-cont {
    display: grid;
    padding: 10px 200px 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    gap: 20px;
  }

  .partners {
    padding-left: 200px;
    padding-right: 200px;
    display: none;
  }

  .partner-cont {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    left: 30px;
  }

  footer {
    padding: 30px 200px;
    background-color: #2e2e2e;
    color: #e2e5e4;
  }

  .footer p {
    font-size: 12px;
    width: fit-content;
  }
}
